.tsl-form {
  width: 100%;
}

.tsl-form__control {
  width: 100%;
  margin-top: 20px;
}

.tsl-form__label {
  color: white;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

.tsl-form__input {
  width: 100%;
  padding: 10px 14px;
  margin-top: 8px;

  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px rgba(255, 255, 255, 0.7);

  font-size: 14px;
  outline: 0;

  @include placeholder {
    font-size: 14px;
    color: $slate-grey;
  }

  &:focus{
    background-color: white;
  }
}

.tsl-form__control-error {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 6px;

  color: red;
}

.el-upload {
  width: 100%;
}
