.tsl-form {
  width: 100%;
}

.tsl-form__control {
  width: 100%;
  height: 52px;
  margin-top: 40px;
}

.tsl-form__label {
  color: white;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.7px;
}

.tsl-form__input {
  width: 100%;
  padding: 7px 14px 6px;
  margin-top: 8px;

  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px rgba(255, 255, 255, 0.7);

  font-size: 12px;
  outline: 0;

  @include placeholder {
    font-size: 12px;
    color: $slate-grey;
  }
}

.tsl-form__control-error {
  width: 100%;
  font-size: 12px;
  padding: 12px 6px;

  color: red;
}
