
$lynch: #657893;
$navy: #001a31;
$twilight-blue: #0e405b;
$stormy-blue: #5683a2;
$bluey-grey: #8a95ac;
$booger: #aac343;
$denim: #426b88;
$pale-grey: #dee1e7;
$palest-grey: #fcfcfc;
$slate-grey: #575a70;
$red: #dd4343;
