.el-pager li {
  color: $slate-grey;

  &.active,
  &:hover {
    color: $booger !important;
  }
}

.el-pagination button:hover .el-icon,
.el-icon:hover::before {
  color: $booger !important;
}

.el-table__row {

  td {
    border: 0 !important;
  }

  &:hover {
    cursor: pointer;
  }

  &.selected .cell {
    font-weight: 700 !important;
    color: $twilight-blue;
  }
}

.el-table__header th {
  color: $bluey-grey;
  border: 0 !important;
}

.el-popover.el-popper {
  background-color: $navy;
  padding: 7px 12px 2px !important;
  border: 0 !important;

  .popper__arrow {
    &::after {
      border-top-color: $navy !important;
    }
  }
}

.el-popover__title {
  color: white !important;
  font-size: 14px !important;
  font-weight: 600;
  margin-top: 6px;
  text-align: center;
}
